<!DOCTYPE html>
<html>
  <head>
    <title>Filestack Rails - Dummy App</title>
    <%= csrf_meta_tags %>

    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
