<h1>Rails Picker Test</h1>
<%= filestack_picker_element "pick!", "logIt", {'accept' => 'image/*', 'fromSources' => 'facebook'} %>
<%= form_for @user do |f| %>
    <%= f.label :picture %>
    <%= f.filestack_field :picture, 'Upload a Picture' %>
    <%= f.submit %>
<% end %>
